label { 
    display: block;
    margin: 10px;
   
}

#name {
    margin: 0 14px;

}
fieldset { 
    border: 10px solid green;
}
h3 { 
    color: red;
    text-decoration: underline
}
.button {
    margin: 10px 20px; 
}
.sub {
    margin: 0 10px;
}
nav ul {
    display: flex;
    padding: 0 5px ;
}
nav ul li {
    list-style: none;
    padding: 10px;
}
nav li:hover {
    background-color: blue;
}
nav li a {
    text-decoration: none;
}